html,
body {
  margin: 0 auto;
  max-width: 393px;
  font-family: poppins;
  user-select: none;
  background: #202a36;
  color: #fff;
}
.off {
  pointer-events: none;
  cursor: default;
}
.header {
  width: 393px;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  background: #202a36;
  box-shadow: 0 0 10px #161a1e;
  z-index: 1;
}
.icon {
  margin: 15px;
  margin-right: auto;
  width: 175px;
}
.btn-yt {
  border: 0;
  padding: 8px 13px;
  font-weight: bold;
  border-radius: 50px;
  font-size: 12px;
  margin: 15px;
  background: #ff0000;
  color: #fff;
}
.icon:hover,
.btn-yt:hover,
.btn-donasi:hover {
  opacity: 0.75;
}
.profil {
  text-align: center;
  margin-bottom: 10px;
}
.my {
  background: #263646;
  border-radius: 100%;
}
.logo {
  width: 100px;
  height: 100px;
  margin-bottom: 5px;
}
.profil h1,
.profil h2,
.profil p {
  margin: 0;
}
.profil h1 {
  font-size: 22px;
}
.profil h2 {
  font-size: 15px;
}
.profil p {
  font-size: 14px;
  margin: 15px;
}
.btn-donasi {
  border: 0;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 5px;
  font-size: 13px;
  background: #0091ff;
  color: #fff;
}
.bg-area {
  background: #263646;
  padding: 10px;
  border-radius: 10px;
  margin: 20px 0;
}
.bg-area h1 {
  margin: 10px;
  font-size: 22px;
  display: flex;
  align-items: center;
}
.bg-area h1 .num {
  background: #202a36;
  padding: 3px 10px;
  border-radius: 7px;
  font-style: normal;
  margin-right: 10px;
}
.block {
  display: flex;
}
.box,
.box-none {
  width: 100%;
  flex: 1;
  background: #202a36;
  margin: 10px;
  border: 2px solid #64727f;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.box-none {
  opacity: 0.25;
}
.box h2,
.box-none h2 {
  margin: 10px;
  font-size: 13px;
  font-weight: 500;
}
.box p,
.box-none p {
  width: 100%;
  border-top: 0.5px solid #fff;
  text-align: center;
  margin: 0;
  padding: 10px 0;
  font-size: 12px;
  color: #fff;
  opacity: 0.3;
}
.box:hover {
  background: #fff;
  color: #202a36;
  border-color: #0a4975;
}
.box:hover p {
  color: #202a36;
  border-color: #202a36;
}
.deskripsi {
  margin: 50px 0;
}
.deskripsi p {
  text-align: justify;
  font-size: 14px;
}
.deskripsi h1 {
  font-size: 20px;
  margin: 30px 0 20px;
}
.fa,
.fab {
  font-size: 30px;
  margin-right: 15px;
}
.fa:hover,
.fab:hover {
  opacity: 0.5;
}
.footer {
  width: 100%;
  background: #202a36;
  box-shadow: 0 0 10px 0 #161a1e;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer p {
  margin: 20px 0;
  font-size: 13px;
}
.profil,
.bg-area {
  margin: 15px;
}
.deskripsi {
  margin: 50px 15px;
}
.deskripsi .icon {
  margin-left: 0;
}
.content {
  min-height: calc(100vh - 50px);
}

/*MENU PAGE*/

.content.products p {
  text-align: center;
  margin: 15px;
}
.container {
  margin: 15px;
}
.container.vip {
  text-align: center;
}
.container h1 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 25px;
}
.container.vip h1 {
  font-size: 20px;
  margin: 10px;
}
.container.vip p {
  font-size: 14px;
  margin: 0;
}
.icon-vip {
  width: 100px;
  border-radius: 10px;
  border: 2px solid #fff;
  background: #263646;
}
.img-vip {
  width: 100%;
  border-radius: 10px;
  margin-top: 5px;
  background: #263646;
}
.vid-content {
  width: 100%;
  height: 200px;
  background: #263646;
}
.bg-area.products {
  padding: 25px;
  display: flex;
  flex-direction: column;
}
.bg-area.products h1 {
  margin: 0;
  margin-bottom: 5px;
}
.bg-area.products p {
  margin: 0;
  margin-top: 10px;
  font-size: 13px;
  background: #05b962;
  padding: 10px;
  border-radius: 5px;
  color: #263646;
  font-style: italic;
  margin: 15px 0 5px;
}
.bg-area.products h3 {
  margin: 0;
  margin-top: 10px;
}
.bg-area.products h5 {
  margin: 0;
  margin-top: 10px;
  font-weight: normal;
  text-align: justify;
}
.bg-area.products p {
  background: #ec9800;
}
.btn-unduh,
.btn-order {
  display: block;
  width: 100%;
  padding: 15px;
  margin: 0;
  margin-top: 10px;
  color: #fff;
  background: #202a36;
  border: 2px solid #64727f;
  border-radius: 10px;
  font-size: 12px;
}
.btn-order {
  border: 0;
  background: #00bc62;
  font-size: 14px;
  font-weight: bold;
}
.btn-unduh:hover {
  background: #fff;
  color: #202a36;
  border-color: #0a4975;
}
.btn-order:hover {
  background: #00ed7b;
}
.fa.sin {
  font-size: 14px;
  margin-right: 5px;
}
